.accordion-trigger-custom {
  padding: 0 18px 0 14px;
  height: 37px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-weight: 500;
  font-size: 14px;
  color: $hover;
  border: none;
  outline: none;

}

.accordion-item-custom {
  width: 100%;
  border-radius: 7px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 0 18px;

    .tag {
      padding: 7px 15px;
      border-radius: 7px;
      background-color: #e1e1e1;
      font-weight: 500;
      font-size: 12px;
      color: $black;
      @include tr;
      cursor: pointer;

      &:hover {
        background-color: $main;
        color: $white;
      }
    }

    .tag-active {
      background-color: $main;
      color: $white;
    }
  }
}

.filter {
  .option-cont {
    .check-label {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      @include tr;

      &:hover {
        scale: 1.06;
      }
    }

    .checkmark-parent {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: .7px solid #1E1E1E;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.3px;
    }

    .checkmark-parent-active {
      border: .7px solid $main;

      .checkmark-custom-active {
        background-color: $main;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    .active-check-text {
      font-weight: 500;
      color: $main;
    }
  }
}

.example-track {
  background-color: #E2DCDC;
  height: 10px;
}

.example-track-2 {
  border-radius: 0 7px 7px 0;
}

.example-track-0 {
  border-radius: 7px 0 0 7px;
}

.filter-cont .card {
  background-color: $white;
  background-clip: border-box;
  border: none;
  border-radius: 7px;
  margin-top: 8px;
  padding: 10px 20px 22px;
}

.collapse-item {
  margin-bottom: 12px;
}

.filter-price {
  background-color: $white;
  border-radius: 7px;
  padding: 12px 18px;
}

.price-head {
  font-weight: 500;
  font-size: 14px;
  color: $hover;
  margin-bottom: 12px;
}

.filters-mobile-btn {
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--main-color);
  margin-top: 30px;
  font-size: 20px;
  display: none;

  @media screen and (max-width: 992px) {
    display: flex;

  }
}

.filter-cont .acc-title {
  margin-bottom: 20px;
  font-size: 16px;
}

.filter-title {
  font-weight: 500;
  font-size: 14px;
  color: $main;
  margin-bottom: 8px;

  @media screen and (max-width: 992px) {
    display: none;

  }
}

.clear-filter {
  color: #D72238;
  font-weight: 500;
  font-size: 14px;
  margin: 12px 0;
  cursor: pointer;
}

.filter-cont .acc-title:not(:first-of-type) {
  margin-top: 20px;
}

.filter-cont .cat-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 15px 0;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none;
  color: var(--sec-color);
  font-size: 16px;

  i {
    font-size: 14px;

    transition: all 0.3s ease-in-out;
  }
}

html[dir="ltr"] .filter-cont .btn-link i {
  transform: scaleX(-1);
}

.filter-cont .cat-link:hover {
  color: var(--main-color);
}

.filter-cont .card-body {
  padding: 0;
}

@media (max-width: 992px) {
  .filters-mobile-btn {
    display: flex;
  }
}


.content-section {
  padding-top: 40px;
  min-height: 20vh;

  @include max-991 {
    padding-top: 0;
  }
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  margin-bottom: 40px;
  align-items: start;

  @include max-991 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.filters-mobile-btn {
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--main-color);
  margin-top: 50px;
  font-size: 20px;
  display: none;
}

.filter-cont .acc-title {
  margin-bottom: 20px;
  font-size: 16px;
}

.filter-title {
  font-weight: 600;
  font-size: 14px;
  color: $main;
  margin-bottom: 8px;
}

.filter-cont .acc-title:not(:first-of-type) {
  margin-top: 20px;
}

.filter-cont .cat-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 15px 0;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none;
  color: var(--sec-color);
  font-size: 16px;

  i {
    font-size: 14px;

    transition: all 0.3s ease-in-out;
  }
}

html[dir="ltr"] .filter-cont .btn-link i {
  transform: scaleX(-1);
}

.filter-cont .cat-link:hover {
  color: var(--main-color);
}

.filter-cont .card-body {
  padding: 0;
}

@media (max-width: 992px) {
  .filters-mobile-btn {
    display: flex;
  }
}

.check-group {
  margin-bottom: 10px;
}

.filter-cont .check-group {
  padding: 8px 0;
  margin-bottom: 0;
}

.check-label {
  /* min-width: 25%; */
  text-align: start;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
  color: $hover;
  padding-inline-start: 25px;
  transition: all 0.3s ease-in-out;
}

.radio-group .check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  padding: 0 15px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 18px;
  border: 1px solid var(--border-color);
}

.check-label:has(input:checked) {
  border-color: var(--main-color);
  color: $main;
}

.check-group input[type="checkbox"],
.check-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-group .checkmark {
  border: none;
  border-radius: 0;
  background-color: #f1f1f1;
  border: 1px solid #70707080;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-group .custom-checkmark {
  border-radius: 4px;
}

.check-group input[type="checkbox"]~.checkmark {
  border-radius: 4px;
}

.check-group:hover input~.checkmark {
  background-color: $main;
  transition: all 0.3s ease-in-out;
}

.check-group input:checked~.checkmark {
  background-color: $main;
}

.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: visible;
}

.check-group input:checked~.checkmark:after {
  opacity: 1;
  visibility: visible;
}

.check-group input:checked~.checkmark {
  background-color: $main;
}

.check-group input:checked~.custom-checkmark {
  background-color: $main;
}

.check-group .checkmark:after {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $main;
}

.check-group .custom-checkmark:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  color: $white;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ui-widget.ui-widget-content {
  border-radius: 10px;
  background-color: $main;
  border: none;
}

/* .ui-slider .ui-slider-range{
  background-color: var(--more-color);
} */
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  background-color: $main;
  border: none;
}

@media (max-width: 992px) {
  .filter-cont {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 75px;
    inset-inline-start: calc(0vw - 139px);
    z-index: 99;
    transition: 0.5s;
  }

  .filter-cont.active {
    inset-inline-start: 0;
  }

  .filter-panel {
    background-color: $back;
    width: calc(100vw - 75px);
    padding: 20px 30px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 10%);
    margin: 0;
    max-height: calc(100vh - 95px);
    overflow-y: auto;
  }
}

.radio-group .check-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 18px;
}

.example-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $main;
  transform: translateY(-4px);
}

.slider-range {
  padding: 0 18px;
}

// .items-grid {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 12px;
//   padding-top: 25px;

//   @include max-1200 {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   @include max-991 {
//     grid-template-columns: repeat(2, 1fr);
//     padding: 0;
//   }
//   @media screen and (max-width: 767px) {
//     grid-template-columns: repeat(1, 1fr);

//   }
// }
.items-grid {
  a {
    width: calc(33.33% - 8px);
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    overflow: hidden;

    // item number 1 and 2 =>margin-inline-end 12px
    &:nth-child(3n+1),
    &:nth-child(3n+2) {
      margin-inline-end: 12px;
    }

    @include max-991 {
      width: calc(50% - 12px);
      margin-inline-end: 0 !important;

      &:nth-child(2n+1) {

        margin-inline-end: 12px !important;
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-inline-end: 0 !important;

      &:nth-child(2n+1) {

        margin-inline-end: 0px !important;
      }
    }
  }
}

.btn-filter {
  width: 100%;
  height: 37px;
  border-radius: 7px;
  background-color: #f1f1f1;
  padding: 0 18px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #707070;
  border: 1px solid #70707080;
  outline: none;
  text-transform: capitalize;

  i {
    @include tr;
    font-size: 12px;
  }

  &.collapsed {
    i {
      transform: rotate(180deg);
    }
  }
}

.filter-cont .card {
  background-color: #f1f1f1;
  background-clip: border-box;
  border: 1px solid #70707080;
  border-radius: 7px;
  margin-top: 8px;
  padding: 10px 20px 22px;
}

.collapse-item {
  margin-bottom: 12px;
}

.filter-price {
  background-color: #f1f1f1;
  border: 1px solid #70707080;
  border-radius: 7px;
  padding: 12px 18px;
}

.price-head {
  font-weight: 500;
  font-size: 14px;
  color: #707070;
  margin-bottom: 12px;
}

.details-container {
  .booking-img figure {
    border-radius: 20px;
    margin-bottom: 16px;
  }

  .category-name {
    font-size: 14px;
  }

  .item-price {
    font-size: 14px;

    .price {
      font-size: 20px;
    }
  }

  .card-item-name {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

.tooltip-cont {
  position: relative;
  display: inline-block;
  margin: 0;
  cursor: pointer;

  i {
    width: 18px;
    height: 18px;
  }
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 125%;
  /* position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f5fd;
  color: $main;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  transition: opacity 0.2s ease;
  z-index: 1;
}

.tooltip-cont:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.box-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 28px;

  @include max-991 {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.card-box {
  background-color: $white;
  border: 1px solid #0000001a;
  padding: 10px 20px;
  display: block;
  border-radius: 12px;

  .card-place {
    font-size: 16px;
    margin-bottom: 0;

    i {
      font-size: 16px;
    }
  }
}

.card-box-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card-ancor {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  color: $main;

  i {
    font-size: 12px;
    color: #707070;

    html[dir="rtl"] & {
      transform: scaleX(-1);
    }
  }
}

.card-by {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 400;
  font-size: 12px;
  color: $text;

  .by-name {
    font-weight: 700;
    font-size: 14px;
  }
}

.card-head {
  font-weight: 400;
  font-size: 12px;
  color: $hover;
  margin-bottom: 8px;
}

.desc-pargh {
  font-weight: 500;
  font-size: 14px;
  color: $hover;
  margin-bottom: 0;
}

.card-box {
  .card-option {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding: 0;
    background-color: transparent;

    >span {
      min-width: calc(50% - 10px);
      @include flexCenter;
      justify-content: flex-start;
      text-wrap: nowrap;
      gap: 5px;
      background-color: #f4f5fd;
      border-radius: 8px;
      padding: 8px 12px;
    }
  }
}

.custom-ancor.btn {
  width: 100%;
  height: 48px;

  @include min-992 {
    max-width: 390px;
  }
}